.post-metadata {
  margin: 0;
  padding: 15px 0;
  display: flex;
  align-items: center;
}

.post-tags-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  line-height: 1;
}

.blog-post-tags {
  font-family: 'SFMono-Regular', Consolas, monospace;
  font-size: 0.8rem;
  background: #252525;
  color: #c04d4d;
  padding: 4px 10px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.blog-post-tags:hover {
  background: #121212;
  color: #ff4d4f;
  text-decoration: none;
  font-weight: bold;
}

.markdown-body h2 {
  margin-top: 0px !important;
}

.katex {
  color: #e0e0e0; 
  font-size: 1.1em;
}

.katex-display {
  margin: 1.5em 0;
  overflow-x: auto;
  overflow-y: hidden;
}
