# Copyright (c) 2025 Gapry.
# Licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0).
# For details, see: https://creativecommons.org/licenses/by-nc-sa/4.0/
# See LICENSE file in the project root for full license information.

# Jekyll
_site/
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# IDE
.idea/
.code/

# C++
*.out
*.obj
*.o
